@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #202733;
  --dark-grayish-blue: #313a48;
  --grayish-blue: #4f5d74;
  --light-cyan: #cee3e9;
  --neon-green: #53ffaa;
  --font-family: 'Manrope', sans-serif;
}
body {
  font-family: var(--font-family);
  font-weight: 800;
  background-color: var(--dark-blue);
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 540px;
  border-radius: 15px;
  box-shadow: 30px 50px 80px 0 rgba(0, 0, 0, 0.1);
  background: var(--dark-grayish-blue);

  padding: 48px 48px 72px 48px;

  position: relative;
}
.wrapper h1 {
  font-size: 13px;
  letter-spacing: 0.31em;
  text-align: center;
  color: var(--neon-green);
  margin-bottom: 24px;
}
.text {
  font-size: 28px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--light-cyan);
  margin-bottom: 40px;
}
.picture {
  max-width: 444px;
}
.picture img {
  width: 100%;
}
.shape {
  width: 64px;
  height: 64px;
  position: absolute;
  background-color: var(--neon-green);
  border-radius: 50%;
  cursor: pointer;
  border: none;

  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow 0.3s ease;
}
.shape:hover {
  box-shadow: 0 0 40px 0 var(--neon-green);
  cursor: pointer;
}
.shape:active {
  background-color: rgba(84, 255, 169, 0.8);
}

@media (max-width: 540px) {
  .wrapper {
    max-width: 375px;
    margin: 16px;
    padding: 40px 16px 64px;
  }
  .wrapper h1 {
    font-size: 11px;
  }
  .text {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
